.comment
  .comment-info
    - @user = User.find(comment.user_id)
    .img-container.small
      - if @user.profile_picture.attached?
        = image_tag (@user.profile_picture), alt: 'profile picture', class: 'profile-picture'
      - else
        = image_tag 'no_profile_picture.png', alt: 'no profile picture', class: 'profile-picture'
    .content
      .p
        %span.name #{@user.first_name} #{@user.last_name}
        @#{@user.nickname}
      .p #{comment.content}
      .icons
        %svg{class: 'bi bi-chat-left show-comment-form', 'data-comments-comment': "comments-comment-#{comment.id}", width: '28', height: '28', fill: 'currentColor', viewBox: '0 0 16 16', xmlns: 'http://www.w3.org/2000/svg'}
          %path{d: 'M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z'}
        %svg{class: 'bi bi-heart', width: '28', height: '28', fill: 'currentColor', viewBox: '0 0 16 16', xmlns: 'http://www.w3.org/2000/svg'}
          %path{d: 'm8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15' }
      .comment-comments-container{id: "comments-comment-#{comment.id}"}
        .comment-comments
          = render partial: 'comments/comment', collection: comment.comments, as: :comment
        = form_for(comment.comments.build, remote: true, html: {class: 'comment-form'}) do |f|
          %h5 Reply
          = hidden_field_tag :commentable_id, comment.id
          = hidden_field_tag :commentable_type, 'Comment'
          = f.text_field :content, class: 'input', required: true
          = f.submit 'Comment', class: 'button no-fill-button'
