.background
  .user
    = render 'layouts/user_profile'
  .post
    .box#post-box
      %ul
        %li#back
          = link_to 'Back', :back
        %li#personal_info
          .img-container.small
            - if @user.profile_picture.attached?
              = image_tag (@user.profile_picture), alt: 'profile picture', class: 'profile-picture'
            - else
              = image_tag 'no_profile_picture.png', alt: 'no profile picture', class: 'profile-picture'
          .content
            .name
              %span.name
                = @user.full_name
              %span.account @#{@user.nickname}
              = render 'follow_relationships/follow_form'
            .dates
              .blue-box
              %span Born #{@user.birthday.strftime('%m/%d/%Y')}
              .blue-box
              %span Joined #{@user.created_at.strftime('%m/%d/%Y')}
          - if @user == current_user
            .edit-profile
              = link_to 'Edit Profile', edit_user_path(id: @user.id), class: 'button no-fill-button'
        %nav
          #nav-tab{class: 'nav nav-tabs justify-content-center', role: 'tablist'}
            %button{class: 'nav-link active', id: 'nav-posts-tab', 'data-bs-toggle': 'tab', 'data-bs-target': '#nav-posts', role: 'tab', 'aria-controls': 'nav-posts', 'aria-selected': 'true'}
              %p #{@user.posts.count.to_s}
              Posts
            %button{class: 'nav-link', id: 'nav-following-tab', 'data-bs-toggle': 'tab', 'data-bs-target': '#nav-following', role: 'tab', 'aria-controls': 'nav-following', 'aria-selected': 'false'}
              %p #{@user.following.count}
              Following
            %button{class: 'nav-link', id: 'nav-followers-tab', 'data-bs-toggle': 'tab', 'data-bs-target': '#nav-followers', role: 'tab', 'aria-controls': 'nav-followers', 'aria-selected': 'false'}
              %p #{@user.followers.count}
              Followers
          #nav-tabContent{class: 'tab-content'}
            .tab-pane.fade.show.active{ id: 'nav-posts', role: 'tabpanel', 'aria-labelledby': 'nav-posts-tab'}
              = render partial: 'posts/post', collection: @posts, as: :post
            .tab-pane.fade{ id: 'nav-following', role: 'tabpanel', 'aria-labelledby': 'nav-following-tab'}
              = render partial: 'user', collection: @user.following, as: :user
            .tab-pane.fade{ id: 'nav-followers', role: 'tabpanel', 'aria-labelledby': 'nav-followers-tab'}
              = render partial: 'user', collection: @user.followers, as: :user
