.background
  .user
    = render 'layouts/user_profile'
  .post
    .box#post-box
      %ul
        %li#back
          = link_to 'Back', :back
        %li#personal_info
          - if @user.profile_picture.attached?
            = image_tag (@user.profile_picture), alt: 'profile picture', class: 'profile-picture'
          - else
            = image_tag 'no_profile_picture.png', alt: 'no profile picture', class: 'profile-picture'
          .content
            .name
              %span.name
                = @user.full_name
              %span.account @#{@user.nickname}
            .dates
              .blue-box
              %span Born #{@user.birthday.strftime('%m/%d/%Y')}
              .blue-box
              %span Joined #{@user.created_at.strftime('%m/%d/%Y')}
          - if @user == current_user
            .edit-profile
              = link_to 'Edit Profile', edit_user_path(id: @user.id), class: 'button no-fill-button'
        %li#account_info
          %div
            %p.number #{@user.posts.count.to_s}
            %p Posts
          %div
            %p.number 0
            %p Following
          %div
            %p.number 0
            %p Followers
        = render partial: 'posts/post', collection: @posts, as: :post
