%li#show-post
  .post-info-container
    #post-info
      %a{href: user_profile_path(post.user.nickname), id: 'profile'}
        .img-container.small
          - if post.user.profile_picture.attached?
            = image_tag (post.user.profile_picture), alt: 'profile picture', class: 'profile-picture'
          - else
            = image_tag 'no_profile_picture.png', alt: 'no profile picture', class: 'profile-picture'
      %a{href: post_path(post), id: 'post'}
        .content
          .p
            %span.name
              = post.user.full_name
          .p.account @#{post.user.nickname}
          .p.date Published at #{post.published_at.strftime('%m/%d/%Y')}
          %h4 #{post.title}
          .p.body #{post.body}
          .image
            - if post.image.attached?
              = image_tag (post.image), alt: 'post image', class: 'post-image'
    .icons#icons-post
      %svg{class: 'bi bi-chat-left show-comments', 'data-comments': "comments-post-#{post.id}", width: '28', height: '28', fill: 'currentColor', viewBox: '0 0 16 16', xmlns: 'http://www.w3.org/2000/svg'}
        %path{d: 'M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z'}
      - if current_user.likes.find_by(likeable_id: post.id)
        = render partial: 'likes/unlike', locals: { likeable: post }
      - else
        = render partial: 'likes/like', locals: { likeable: post }
    .post-comments-container{id: "comments-post-#{post.id}"}
      .title
        .blue-box
        %h5#comments-count #{post.comments.count} Comments
        .blue-box
        %h5#likes-count #{post.likes.count} Likes
      .post-comments
        = render partial: 'comments/comment', collection: post.comments, as: :comment
      = form_for(post.comments.build, remote: true, html: {class: 'post-form'}) do |f|
        %h5 Add a comment
        = hidden_field_tag :commentable_id, post.id
        = hidden_field_tag :commentable_type, 'Post'
        = hidden_field_tag :user_id, current_user.id
        = f.text_field :content, class: 'input', required: true
        = f.submit 'Comment', class: 'button no-fill-button'
