%li#show-post
  .post-info-container
    #post-info
      %a{href: user_profile_path(post.user.nickname), id: 'profile'}
        .img-container.small
          - if post.user.profile_picture.attached?
            = image_tag (post.user.profile_picture), alt: 'profile picture', class: 'profile-picture'
          - else
            = image_tag 'no_profile_picture.png', alt: 'no profile picture', class: 'profile-picture'
      %a{href: post_path(post), id: 'post'}
        .content
          .p
            %span.name
              = post.user.full_name
          .p.account @#{post.user.nickname}
          .p.date Published at #{post.published_at.strftime('%m/%d/%Y')}
          %h4 #{post.title}
          .p.body #{post.body}
          .image
            - if post.image.attached?
              = image_tag (post.image), alt: 'post image', class: 'post-image'
    .icons#icons-post
      - if post.user == current_user && current_page?(post_path(post))
        %button{ class: 'icon-button', "data-bs-toggle": "modal", "data-bs-target": "#staticBackdrop" }
          %i.bi.bi-trash3
        .modal.fade{ id: "staticBackdrop", "data-bs-backdrop": "static", "data-bs-keyboard": "false", tabindex: "-1", "aria-labelledby": "staticBackdropLabel", "aria-hidden": "true" }
          .modal-dialog.modal-dialog-centered
            .modal-content
              .warning-img
                = image_tag 'warning.png', alt: 'warning', height: '100', width: '100'
              #body.modal-body
                Are you sure you want to delete this post?
              .modal-footer
                %button.btn.btn-secondary{ type: "button", "data-bs-dismiss": "modal" } Close
                = button_to "Delete", post_path, method: :delete, class: 'btn delete-button'
      #like-comment
        %button{ class: 'icon-button show-comments', 'data-comments': "comments-post-#{post.id}" }
          %i.bi.bi-chat-left
        - if current_user.likes.find_by(likeable_id: post.id)
          = render partial: 'likes/unlike', locals: { likeable: post }
        - else
          = render partial: 'likes/like', locals: { likeable: post }
    .post-comments-container{id: "comments-post-#{post.id}"}
      .title
        .blue-box
        %h5#comments-count #{post.comments.count} Comments
        .blue-box
        %h5#likes-count #{post.likes.count} Likes
      .post-comments
        = render partial: 'comments/comment', collection: post.comments, as: :comment
      = form_for(post.comments.build, remote: true, html: {class: 'post-form'}) do |f|
        %h5 Add a comment
        = hidden_field_tag :commentable_id, post.id
        = hidden_field_tag :commentable_type, 'Post'
        = hidden_field_tag :user_id, current_user.id
        = f.text_field :content, class: 'input', required: true
        = f.submit 'Comment', class: 'button no-fill-button'
